# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
**/__pycache__/
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

# IDE
.vscode/

# Model files (optional - uncomment if you want to exclude model files)
*.pt
*.pth
*.onnx
*.tflite

# Logs
*.log
logs/

# Image data
**/data/

# Test
test.py

# Builds
**/Build/